{% extends 'servicios/index.html' %}

{% block content_servicios %}

    <h2>Lista de Categorías de Servicios</h2>

    {% for categoria in object_list %}
        <ul>
            <li>{{ categoria.nombre }}
                <a href="{% url 'servicios:servicioscategorias_detail' categoria.id %}" class="btn btn-secondary">Ver detalle</a>
                <a href="{% url 'servicios:servicioscategorias_update' categoria.id %}" class="btn btn-primary">Actualizar</a>
                <a href="{% url 'servicios:servicioscategorias_delete' categoria.id %}" class="btn btn-danger">Eliminar</a>
            </li>
        </ul>
    {% endfor %}

    <a href="{% url 'servicios:index' %}">Volver a índice de Servicios</a>

{% endblock content_servicios %}